<!DOCTYPE html>
<html>
  <head>
    <title>VPN Client Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="/assets/js/jquery.markup.js"></script>
    <script src="/assets/js/home.js"></script>
    <link rel="icon" href="/assets/images/16x16.png" sizes="16x16">
    <link rel="icon" href="/assets/images/32x32.png" sizes="32x32">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link href="/assets/templates/status_entry.html" rel="markup" type="text/x-markup-handlebars"/>
    <link href="/assets/templates/log_entry.html" rel="markup" type="text/x-markup-handlebars"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid col-md-offset-3 col-md-6">

      <ul class="nav nav-pills" role="tablist" style="margin-top:15px;<% if (servers.length < 2) { %>display:none;<% } %>">
        <% for(var i=0; i < servers.length; i++) {%>
          <li role="presentation"<% if (i == 0) { %>class="active"<% } %>><a href="#server_<%= i %>" aria-controls="home" data-toggle="tab"><%= servers[i].name %></a></li>
        <% } %>
      </ul>

      <div class="tab-content">
        <% for(var i=0; i < servers.length; i++) {%>
        <div role="tabpanel" class="tab-pane<% if (i == 0) { %> active<% } %>" id="server_<%= i %>" data-server="<%= i %>">
          <div class="row">
            <div class="container-fluid well" style="margin-top:20px;">
              <div class="pull-right">
                <button class="btn_refresh btn btn-success" type="button"><i class="fa fa-refresh"></i><span class="txt_refresh"></span></button>
              </div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td></td><td>Node</td><td>VPN IP</td><td>Public IP</td><td>Last Seen</td>
                  </tr>
                </thead>
                <tbody id="nodes_<%= i %>">
                </tbody>
              </table>
              <% include footer %>
            </div>
          </div>

          <div class="row">
            <div class="container-fluid well col-md-offset-1 col-md-10" style="margin-top:20px;">
              <div class="pull-right">
                <button class="btn_clear btn btn-success" type="button"><i class="fa fa-trash"></i></button>
              </div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td></td><td>Time</td><td>Node</td><td>Event</td>
                  </tr>
                </thead>
                <tbody id="log_<%= i %>">
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% } %>
      </div>

    </div>
  </body>
</html>
